
body {
  font-family: roboto;
  background: #0b192f;
  box-sizing: border-box;
}
.post-1 {
	background: #B71757;
}
.post-2 {
	background: #0D7E71;
}
.post-3 {
	background: #b1660e;
}
.post-4 {
	background: #d12767;
}
.post-5 {
	background: #2d95bb;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}
p {
    font-weight: 300;
    font-size: 14px;
    opacity: 0.6;
}

/*style header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 10px 50px;
    background: #162b4d;
}
header .logo {
    font-size: 24px;
    color: #fff;
    font-weight: 300;
    opacity: 1;
}
header .logo span {
    color: #B71757;
}
.burger-menu {
    display: none;
}
.nav {
    list-style: none;
}
.nav li {
    display: inline-block;
}
.nav li:not(:last-child) {
    margin-right: 10px;
}
.nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

/*style main*/
main {
    display: flex;
}
main .article-column:first-child {
    width: 70%;
    margin-right: 20px;
}
main .article-column:last-child {
    width: 30%;
}
.article-column {
    margin-top: 20px;
}
.post {
    display: flex;
    color: white;
    align-items: center;
    position: relative;
    width: 100%;
    height: 300px;
}
.post div {
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
}
.post-background {
    background-repeat: no-repeat;
    background-size: cover;
}
.post-background:hover, .post-description:hover {
    background-color: #B71757;
    opacity: 0.6;
    cursor: pointer ;
}
.post-text {
    line-height: 22px;
}
.post-description h1 {
    font-weight: 200;
    font-size: 35px;
}
.date {
    position: absolute;
    top: -10px;
    right: 10px;
    text-align: center;
}
.post-date {
    font-size: 36px;
    font-weight: 200;
}
.post-month {
    display: block;
    font-size: 14px;
}
.post:nth-child(odd) .post-description {
    text-align: left;
    /*padding-right: 40px;*/
}
.post:nth-child(even) {
    flex-direction: row-reverse;
}
.post:nth-child(even) .date {
    left: 10px;
    right: initial;
}
.post:nth-child(even) .post-description {
    text-align: right;
    padding-left: 40px;
}
.last-post {
    height: initial;
}
.last-post .post-description {
    width: 100%;
}
.article-item {
    background: #ffffff;
    padding-bottom: 20px;
}
.article-item:not(:last-child) {
    margin-bottom: 20px;
}
.article-img {
    width: 100%;
}
.article-text {
    padding: 0 20px;
    line-height: 22px;
}
.article-text h2 {
    font-weight: 200;
}

/*style footer*/
footer {
    display: flex;
    justify-content: space-between;
    background: #162b4d;
    padding: 20px;
    color: #fff;
    margin-top: 20px;
    line-height: 22px;
}
footer p {
    margin-bottom: 5px;
    margin-top: 5px;
}

@media only screen and (max-width: 1400px) {
    .wrapper {
        width: 900px;
    }
}

@media only screen and (max-width: 768px) {
    .wrapper {
        width: 100%;
    }
    header {
        justify-content: center;
        flex-direction: column;
    }
    .burger-menu {
        display: block;
        cursor: pointer;
    }
    .burger-menu div {
        width: 30px;
        height: 3px;
        background-color: #fff;
        margin: 6px 0;
    }
    .nav {
        display: none;
    }
    .post {
        height: auto;
        flex-wrap: wrap;
    }
    .post div {
        height: 340px;
        width: 100%;
    }
    .post-description {
        padding-bottom: 90px;
    }
    .post:nth-child(odd) .post-description {
        text-align: initial;
    }
    .post:nth-child(even) .post-description {
        text-align: initial;
    }
    .date, .post:nth-child(even) .date{
        top: initial;
        right: 50%;
        bottom: 5px;
    }
    .post:nth-child(even) .date {
        left: initial;
    }
    footer {
        flex-direction: column;
        text-align: center;
    }
    footer p {
        margin-top: 0;
    }
}
@media only screen and (max-width: 480px) {
    main {
        flex-direction: column;
    }
    main .article-column:first-child {
        width: 100%;
        margin-right: 0;
    }
    main .article-column:last-child {
        width: 100%;
    }
}
