$backgroundImage: '../img/m-h-day.jpg';
//fonts
$titleFont: 'Source Sans Pro', sans-serif;
$paragraphFont: 'Hind', sans-serif;

//colors
$buttonColor: rgb(105, 153, 0);
$backgroundColorMain: #ffffff;
$blocksColor: rgb(33,35,46);
$titleColor: rgb(33,35,46);

$colorGradientOne: rgb(105, 153, 0);
$colorGradientTwo: rgb(48, 94, 207);

