$backgroundImage: '../img/m-h-night.jpg';
//fonts
$titleFont: 'Source Sans Pro', sans-serif;
$paragraphFont: 'Fresca', sans-serif;

//colors
$buttonColor: rgb(227, 172, 0);
$backgroundColorMain: rgb(33,35,46);
$blocksColor: rgb(59,63,80);
$titleColor: rgb(255,255,255);

$colorGradientOne: rgb(219, 160, 8);
$colorGradientTwo: rgb(153, 54, 76);
